.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer span {
  padding-left: 20px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: darksalmon;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}