.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50%;
  border: 1px solid rgb(202, 195, 195);
  border-radius: 5px;
  padding: 15px;
}

input[type="checkbox"] {
  width: auto;
  cursor: pointer;
}